// &cBlack: black;

.three-dot-spinner {
  text-align: ceneter;
  & div{
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: black;//$cBlack;
    border-radius: 50%;
  }
}