
p {
  font-size: 16px;
  line-height: 22px;
  color: #666;
}

.container {
  /* background-color: blue; */
  display: grid;
  width: 834px;
  /* background-color: #dddddd; */
  grid-template-columns: 834px;
  grid-template-rows: 50px 356px auto 65px 120px;
  margin: 0 auto;
  gap: 30px 0;
}

.header {
  /* grid-column: 1; */
  /* grid-row: 1; */
  /* background-color: aqua; */
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.header h1 {
  margin-left: 20px;
  font-size: 26px;
  font-family: 'Kosugi Maru', sans-serif;
  /* font-family: 'M PLUS Rounded 1c', sans-serif; */
  /* font-family: 'Yomogi', cursive; */
  color: #0a6a18;
  padding-top: 20px;
}

.header ul {
  display: flex;
  list-style-type: none;
  width: 180px;
  justify-content: space-between;
  margin-right: 15px;

}

.header ul li {
  margin-top: 30px;
}

.header ul a {
  color: inherit;
  text-decoration: none;
}

.header ul a:hover {
  color: red;
}

/* .TopPhoto {
  grid-column: 1;
  grid-row: 2;
  background-color: cadetblue;
  margin-top: -20px;
} */

.main {
  display: grid;
  grid-template-columns: 40px 1fr 40px 1fr 40px;
  grid-template-rows: 24px 412px;
  /* grid-column: 1; */
  /* grid-row: 3; */
  /* background-color: chartreuse */
  /* margin-top: -30px; */
  gap: 20px 0;
}

h2 {
  grid-column: 2 / 5;
  grid-row: 1;
  /* margin: 0; */
  font-family: 'Kosugi Maru', sans-serif;
  font-size: 24px;
  /* font-weight: 2000; */
  /* font-weight: w4; */
  color: #726F6F
}

.photo {
  grid-column: 2;
  grid-row: 2;
  /* border: solid;
  border-radius: 1cm; */
}

.photo .mejiros {
  display: flex;
  justify-content: space-between;
}

.photo .mejiros img {
  width: 117px;
  height: 117px;
}

.main-text {
  grid-column: 4;
  grid-row: 2;
}

.main-text .p1 {
  border: 1px solid #000;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 30px;
}

.main-text .button_back {
  width: 50px;
  border: 1px solid #000;
  border-radius: 10px;
  text-align: center;
  margin-left: auto;
  margin-top: 10px;
}


.SNS {
  /* grid-column: 1;
  grid-row: 4; */
  /* background-color: aqua; */
  margin: 0 auto;
}

.SNS .SNS_logo {
  width: 282px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.footer {
  /* grid-column: 1;
  grid-row: 5; */
  background-color: #aaa;
}

.footer .footer_title {
  color: #fff;
  margin: 10px 0 20px 40px;
}

.footer .footer_textbox {
  margin-left: 40px;
  display: flex;
  width: 550px;
  justify-content: space-between;
}

.footer .footer_text {
  width: 230px;
}